
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="056a", ATTR{idProduct}=="0315", RUN="/usr/local/sbin/wacom-setup.sh"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="056a", ATTR{idProduct}=="0084", RUN="/usr/local/sbin/wacom-setup.sh"
