
ACTION=="add|change", SUBSYSTEM=="usb|input|hid", DRIVERS=="wacom", RUN+="/usr/local/sbin/wacom-setup.sh -c 'chown :users /sys/bus/usb/devices/*/*/wacom_led/status_led0_select'"
